@font-face {
    font-family: 'Blinker';
    src: url('../fonts/Blinker-Thin.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Blinker';
    src: url('../fonts/Blinker-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Blinker';
    src: url('../fonts/Blinker-SemiBold.ttf') format("truetype");
    font-weight: 500;
}