// colors
// $accent_color: #377dff;
// $accent_color: #3b9b7b;
// $box_shadow_color: rgba(34, 60, 80, 0.14);

// $accent_color: #8447FF;
// $accent_font_color: rgb(255, 255, 255);
$accent_color: #6083b1;
$font_color: #000000;
$accent_font_color: rgb(255, 255, 255);

// media 
$small: 'max-width: 799px';
$x_small: 'max-width: 480px';
